/*
Especificidad: (id,class,element)
*/

/* 

margin: 10px; trbl
margin: 10px 10px; tb rl
margin: 10px 10px 10px; t rl b
margin: 10px 10px 10px 10px; t r b l


margin-top
margin-left
margin-right
margin-bottom


*/

/* 

padding: 10px; trbl
padding: 10px 10px; tb rl
padding: 10px 10px 10px; t rl b
padding: 10px 10px 10px 10px; t r b l

padding-top
padding-left
padding-right
padding-bottom

*/

/* Selector de ID */

#home {
    border: 10px dashed red; 
    margin: 10px 20px;
}
/* Selector de Clase */
.titulo {
    font-family: Verdana;
}
/* Selector de Elemento o Etiqueta */
body {
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    font-size: 1.5em;
}

a {
    display: inline;
}

/* Selector Universal */

* {
    border: 0;
}

/* Selector descendiente */

#home a {
    color: brown;
    font-size: 20px;
}

#home p {
    border-bottom: 1px solid green;
}

/* Selector Adyacente */

h1 + p {
    font-style: italic;
}

/* Selector Hijo */

#home > a {
    color: brown;
    font-size: 20px;
}

#home > div > .subtitle {
    font-size: 1rem;
}

/* Selector Hermano */

h1 ~ p {
    font-style: italic;
}

/* Selector de Atributo */

a[href]{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

a[class]{
    font-style: italic;
}

a[class="link"]{ /* Igual a link */
    color: red;
}

a[class$="link"]{ /* Finalice el texto con la palabra link */
    color: yellow;
}

a[href^="https"]{ /* Comience el texto con la palabra http */
    color: violet;
}

a[class*="link"]{
    color: black;
}

a[class~="link"]{
    color: goldenrod;
}

/* Selector pseudoclase */

button:hover {
    background-color: blueviolet;
}

input[type="checkbox"]:checked {
    border: 20px solid red;
}

.saludo::before {
    content: 'Hola, ';
    display: inline;
    margin: 2px;
}
.saludo::after {
    content: 'Como estas? \2663';
    display: inline;
    margin: 2px;
    color: red;
}

.box {
    width: 100px;
    height: 100px;
    background-color: red;
}

.box:hover {
    background-color: brown;
}

a:not(.link){
    color: cadetblue;
}

/* pseudoelement */

p::first-letter {
    text-transform: uppercase;
    font-size: 20px;
}


img {
    width: 120px;
    height: 280px;
    object-fit: cover;
}